body {
  font-family: Arial, sans-serif;
  background-color: #fff2f2;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #2d336b;
  width: 100%;
  margin: 0 auto;
  padding: 5px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #f5fbff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.big_box {
  width: 500px;
  min-width: 300px;
  padding: 10px;
  background-color: #a9b5df;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 40px auto 0;
  border: none;
  padding-bottom: 40px;
}

.big_box:last-child {
  margin-left: 0;
}

.legend_box {
  width: 350px;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.legend_text {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.minimal_input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid aliceblue;
  padding: 5px 0;
  font-size: 16px;
  width: 50px;
}

.minimal_input:focus {
  border-bottom-color: #7886c7;
}

.minimal_select {
  border: 0;
  background: transparent;
  border-bottom: 2px solid aliceblue;
  padding: 5px 0;
  width: 140px;
  font-size: 16px;
  cursor: pointer;
}

.minimal_select:focus {
  border-bottom-color: #7886c7;
}

.button_space {
  width: 500px;
  min-width: 300px;
  padding: 10px;
  background-color: #7886c7;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 40px auto;
  border: none;
  padding-bottom: 40px;
}

.button_space_text {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #f5fbff;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: #2d336b;
  color: #f5fbff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #f5fbff;
  color: #2d336b;
}

button:active {
  background-color: rgba(255, 255, 255, 0.714);
  transform: translateY(2px);
}

article {
  text-align: center;
  margin: 20px auto;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  color: #2d336b;
}

footer {
  text-align: center;
  background-color: #2d336b;
  width: 100%;
  margin: 0 auto;
  padding: 5px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  color: #f5fbff;
}

/* when it's on laptop collapsible size */
@media (max-width: 1100px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .minimal-input,
  .minimal-select {
    width: 100%;
  }

  .big_box {
    width: 600px;
    margin: 40px auto 0;
  }

  .big_box:last-child {
    margin: 40px auto 0;
  }

  .button_space {
    width: 600px;
    margin: 40px auto;
  }
}

/* when it's on tab size */
@media (max-width: 720px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .minimal-input,
  .minimal-select {
    width: 100%;
  }

  .big_box {
    width: 400px;
    margin: 40px auto 0;
  }

  .big_box:last-child {
    margin: 40px auto 0;
  }

  .button_space {
    width: 400px;
    margin: 40px auto;
  }
}

/* when it's on mobile window size */
@media (max-width: 480px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .minimal-input,
  .minimal-select {
    width: 100%;
  }

  .big_box {
    width: 390px;
    margin: 40px auto 0;
  }

  .big_box:last-child {
    margin: 40px auto 0;
  }

  .button_space {
    width: 390px;
    margin: 40px auto;
  }
}
